.footer {
    padding: 30px;
    background-color: rgb(14, 14, 14);
    

    &_body {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
    }
   
}
@media only screen and (max-width:767px)  {
    .footer {
        position: relative;
        padding: 0;
    }
}